<html lang="en">
<head>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UOG-posts</title>
</head>
<body>

                <!--nav bar-->  
            <nav class="blue nav-wraper">  
                    <div class="container">
                        <a href="#">UOG-posts</a>
                        <a href="#" class="sidenav-trigger" data-target="mobile-link">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="#">Home</a></li>
                            <li><a href="#" class="modal-trigger" data-target="modal-post">Creat Blog</a></li>
                            <li><a href="#" class="modal-trigger" data-target="modal-login">Login</a></li>
                            <li><a href="#" class="modal-trigger" data-target="modal-signup">Sign Up</a></li>
                        </ul>
                    </div>
                
            </nav>
            
                <ul class="sidenav" id="mobile-link">
                    <li><a href="#" >Home</a></li>
                    <li><a href="#" class="modal-trigger" data-target="modal-post">Creat Blog</a></li>
                    <li><a href="#" class="modal-trigger" data-target="modal-login">Login</a></li>
                    <li><a href="#" class="modal-trigger" data-target="modal-signup">Sign In</a></li>
                </ul>
                 <!--End nav bar-->  

                <!-- LOGIN MODAL -->
            <div id="modal-login" class="modal">
                <div class="modal-content">
                <h4>Login</h4><br />
                <form id="login-form">
                    <div class="input-field">
                    <input type="email" id="login-email" required />
                    <label for="login-email">Email address</label>
                    </div>
                    <div class="input-field">
                    <input type="password" id="login-password" required />
                    <label for="login-password">Your password</label>
                    </div>
                    <button class="btn light-pink darken-2 z-depth-0">Login</button>
                </form>
                </div>
            </div>


                            <!-- SIGN UP MODAL -->
                <div id="modal-signup" class="modal">
                    <div class="modal-content">
                    <h4>Sign up</h4><br />
                    <form id="signup-form">
                        <div class="input-field">
                        <input type="email" id="signup-email" required />
                        <label for="signup-email">Email address</label>
                        </div>
                        <div class="input-field">
                        <input type="password" id="signup-password" required />
                        <label for="signup-password">Choose password</label>
                        </div>
                        <button class="btn light-pink darken-2 z-depth-0">Sign up</button>
                    </form>
                    </div>
                </div>


                    <!-- Blog post Modal -->
                <div id="modal-post" class="modal">
                    <div class="modal-content">
                        <h4>Write Blog</h4>
                        <form class="col s12"  method="POST" id="post_form">
                            <div class="row">
                              <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea class="materialize-textarea" placeholder="what is going on?" data-length="120"></textarea>
                                <button type="submit" id="done_btn" class="btn-floating btn-large right waves-effect waves-light teal">
                                    <i class="med material-icons" >check</i>
                                </button>
                                    <button class="btn-floating btn-medium waves-effect waves-light blue">
                                        <i class="med material-icons">insert_photo</i>
                                    </button> 
                                    <button class="btn-floating btn-medium waves-effect waves-light blue" >
                                        <i class="med material-icons">insert_emoticon</i>
                                    </button>   
                              </div>
                            </div>
                            
                          </form>

                    </div>

                </div>
                            <!--End Blog post Modal -->

                        



                    <!--tweets-->
                    <div class="container">
                        <div class="card">
                            <div class="card-image">
                              <img src="woman.jpg">
                              <span class="card-title">Card Title</span>
                            </div>
                            <div class="card-content">
                              <p>I am a very simple card. I am good at containing small bits of information.
                              I am convenient because I require little markup to use effectively.</p>
                            </div>
                            <div class="card-action">
                              <a href="#"><i class="material-icons">favorite</i>
                                         
                            </a>
                            <a href="#"><i class="material-icons">comment</i></a>
                            </div>
                          </div>
                    </div>
                    
                
                      








    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
       M.AutoInit();
    </script>
    <script src="/model/main.js"></script>
   

</body>
</html>